In [1]:
def is_symmetrical(in_num):
    if str(in_num) == str(in_num)[::-1]:
        print(f'{in_num} ➞ {True}')
    else:
        print(f'{in_num} ➞ {False}')

is_symmetrical(1223)
is_symmetrical(12345)
is_symmetrical(25555)
is_symmetrical(6666)
is_symmetrical(7889996)

1223 ➞ False
12345 ➞ False
25555 ➞ False
6666 ➞ True
7889996 ➞ False

In [2]:
def multiply_nums(in_string):
    out_string = in_string.replace(' ','').split(',')
    out_num = 1
    for ele in out_string:
        out_num *= int(ele)
    print(f'{in_string} ➞ {out_num}')
    
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

2, 3 ➞ 6
1, 2, 3, 4 ➞ 24
54, 75, 453, 0 ➞ 0
10, -2 ➞ -20

In [3]:
def square_digits(in_num):
    in_list = [str(int(ele)**2) for ele in str(in_num)]
    out_list = ''.join(in_list)
    print(f'{in_num} ➞ {int(out_list)}')

square_digits(1224)
square_digits(454655)
square_digits(65487)

1224 ➞ 14416
454655 ➞ 162516362525
65487 ➞ 3625166449

In [6]:
def setify(in_list):
    out_list = sorted(set(in_list))
    print(f'{in_list} ➞ {out_list}')
    
setify([1, 5, 5, 7, 7]) 
setify([6, 6, 4, 4])
setify([6,6, 6, 6, 10, 15])
setify([2, 2, 2, 2, 2])

[1, 5, 5, 7, 7] ➞ [1, 5, 7]
[6, 6, 4, 4] ➞ [4, 6]
[6, 6, 6, 6, 10, 15] ➞ [6, 10, 15]
[2, 2, 2, 2, 2] ➞ [2]

In [7]:
def mean(in_num):
    in_list = [int(ele) for ele in str(in_num)]
    out_num = sum(in_list)/len(str(in_num))
    print(f'Mean of {in_num}  ➞ {out_num:.0f}')
    
mean(52)
mean(456)
mean(888)

Mean of 52  ➞ 4
Mean of 456  ➞ 5
Mean of 888  ➞ 8